## Preprocessing

In [7]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_copy = application_df.copy()
application_copy.drop(["EIN"],axis=1, inplace=True)
application_copy.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

In [9]:
print(application_copy.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [10]:
name_counts= application_copy['NAME'].value_counts()
name_counts[name_counts>10]

PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
PEARLAND LADY OILER GOLF BOOSTER CLUB                                       11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
NATIONAL COUNCIL FOR GEOCOSMIC RESEARCH INC                                 11
SONS OF ITALY IN AMERICA                                                    11
Name: NAME, Length: 204, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
name_counts_to_replace = list(name_counts[name_counts<=10].index)
# Replace in dataframe
for app in name_counts_to_replace:
    application_copy['NAME'] = application_copy['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_copy['NAME'].value_counts()

Other                                                                     21202
PARENT BOOSTER USA INC                                                     1260
TOPS CLUB INC                                                               765
UNITED STATES BOWLING CONGRESS INC                                          700
WASHINGTON STATE UNIVERSITY                                                 492
                                                                          ...
FINANCIAL PLANNING ASSOCIATION                                               11
SLOW FOOD U S A INC                                                          11
NATIONAL COUNCIL FOR GEOCOSMIC RESEARCH INC                                  11
PEARLAND LADY OILER GOLF BOOSTER CLUB                                        11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER       11
Name: NAME, Length: 205, dtype: int64

In [12]:
app_counts=application_copy['APPLICATION_TYPE'].value_counts()

In [13]:
application_types_to_replace = list(app_counts[app_counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

In [8]:
# # Choose a cutoff value and create a list of application types to be replaced
# # use the variable name `application_types_to_replace`
# #  YOUR CODE GOES HERE

# # Replace in dataframe
# for app in application_types_to_replace:
#     application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# # Check to make sure binning was successful
# application_df['APPLICATION_TYPE'].value_counts()

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for app in application_types_to_replace:
    application_copy['APPLICATION_TYPE'] = application_copy['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_copy['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [15]:
class_count_all=application_copy['CLASSIFICATION'].value_counts()
class_count_all

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1245        1
C2170        1
C1248        1
C1580        1
C4500        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [16]:
class_count=application_copy['CLASSIFICATION'].value_counts().loc[lambda x :x>1]
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1234        2
C3200        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
classifications_to_replace= list(class_count_all[class_count_all<1000].index)
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C6000',
 'C1800',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1237',
 'C1235',
 'C7210',
 'C2400',
 'C4100',
 'C1720',
 'C1600',
 'C1257',
 'C2710',
 'C1260',
 'C0',
 'C1234',
 'C3200',
 'C1246',
 'C1267',
 'C1256',
 'C2570',
 'C2561',
 'C1820',
 'C1370',
 'C1236',
 'C2600',
 'C1900',
 'C2150',
 'C2190',
 'C1570',
 'C2500',
 'C8210',
 'C1728',
 'C2380',
 'C3700',
 'C4200',
 'C6100',
 'C5200',
 'C1732',
 'C4120',
 'C1283',
 'C1245',
 'C2170',
 'C1248',
 'C1580',
 'C4500']

In [13]:
# # Choose a cutoff value and create a list of classifications to be replaced
# # use the variable name `classifications_to_replace`
# #  YOUR CODE GOES HERE

# # Replace in dataframe
# for cls in classifications_to_replace:
#     application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# # Check to make sure binning was successful
# application_df['CLASSIFICATION'].value_counts()

In [18]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_copy['CLASSIFICATION'] = application_copy['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_copy['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_ap_df= pd.get_dummies(application_copy,dtype=float)
dummies_ap_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X=dummies_ap_df.drop(["IS_SUCCESSFUL"], axis=1).values
y=dummies_ap_df['IS_SUCCESSFUL'].values

print(X,y)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

[[1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 1.0859000e+05 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 ...
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 3.6500179e+07 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]] [1 1 0 ... 0 1 0]

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
num_features = len(X_train_scaled[0])
hidden_nodes_1=20
hidden_nodes_2=40
hidden_nodes_3=60

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim=num_features, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_3, activation='tanh'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 20)                4980
_________________________________________________________________
dense_3 (Dense)              (None, 40)                840
_________________________________________________________________
dense_4 (Dense)              (None, 60)                2460
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 61
=================================================================
Total params: 8,341
Trainable params: 8,341
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4827 - accuracy: 0.7677
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4461 - accuracy: 0.7843
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4422 - accuracy: 0.7869
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4401 - accuracy: 0.7860
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4383 - accuracy: 0.7895
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4377 - accuracy: 0.7877
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4368 - accuracy: 0.7899
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4359 - accuracy: 0.7896
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4347 - accuracy: 0.7898
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4344 - accuracy: 0.7913
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4336 - accuracy: 0.7898
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4334 - accuracy: 0.7902
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4327 - accuracy: 0.7910
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4321 - accuracy: 0.7918
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4318 - accuracy: 0.7923
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4310 - accuracy: 0.7907
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7913
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4306 - accuracy: 0.7898: 0s - loss: 0.4306 - accuracy: 0.78
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4306 - accuracy: 0.7924: 0s - loss: 0.4306 - accuracy: 0.
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4299 - accuracy: 0.7923
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4296 - accuracy: 0.7925
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4292 - accuracy: 0.7921:
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7922
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7929
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4284 - accuracy: 0.7931
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7935
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4281 - accuracy: 0.7929
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7933
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7930
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4270 - accuracy: 0.7933
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7938
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4264 - accuracy: 0.7943
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4258 - accuracy: 0.7944
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7938
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7945
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4253 - accuracy: 0.7937
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4251 - accuracy: 0.7950
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4251 - accuracy: 0.7939
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4247 - accuracy: 0.7937: 0s - loss: 0.4
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7954
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4242 - accuracy: 0.7950
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4240 - accuracy: 0.7944
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4246 - accuracy: 0.7943
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7952
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7958
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4233 - accuracy: 0.7950
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7945
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7949
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.7947
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4230 - accuracy: 0.7956
Epoch 51/100
804/804 [==============================] - ETA: 0s - loss: 0.4222 - accuracy: 0.79 - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7960
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.7954
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4224 - accuracy: 0.7963
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7954
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7955
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4223 - accuracy: 0.7964
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7955
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7951
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7957
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7963
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4214 - accuracy: 0.7963
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4213 - accuracy: 0.7969
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7966
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.7968
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7965
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7963
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7949
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4207 - accuracy: 0.7968
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4207 - accuracy: 0.7967: 0s -
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7963
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7965
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4202 - accuracy: 0.7969
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7980: 0s -
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7961: 0s - loss: 0.4194 - accuracy:
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7977
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7966
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4194 - accuracy: 0.7979
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7966: 1s - loss: 0 - ETA: 0s - loss: 0.4201 - accu
Epoch 79/100

804/804 [==============================] - 1s 2ms/step - loss: 0.4197 - accuracy: 0.7988
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4195 - accuracy: 0.7984
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4197 - accuracy: 0.7970
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7973
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4192 - accuracy: 0.7984
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4190 - accuracy: 0.7965
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4198 - accuracy: 0.7973
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7979
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4191 - accuracy: 0.7988
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4188 - accuracy: 0.7972:
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4188 - accuracy: 0.7965
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4191 - accuracy: 0.7964
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.7968
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4188 - accuracy: 0.7979
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.7974
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4190 - accuracy: 0.7976
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.7983
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7975
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.7970
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7976
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.7975
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4179 - accuracy: 0.7984

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4645 - accuracy: 0.7783
Loss: 0.4644774794578552, Accuracy: 0.7783090472221375

In [28]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_optimized.h5")